<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">ADMIN - Belajar Apa?</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/course">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/course/add">Add Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
            </div>
        </div>
    </nav>
</head>

<body>
    <h2>
        <%=data.name%> Course
    </h2>

    <a href="/admin/course/<%=data.id%>/detail/add"><button type="button" class="btn btn-success">Add detail courses</button></a>

    <table class="table">
        <thead>
            <th>No</th>
            <th>Name</th>
            <th>Link Course</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <% data.CourseDetails.forEach((element, index)=> { %>
                <tr>
                    <td>
                        <%= index +1 %>
                    </td>
                    <td>
                        <%=element.name %>
                    </td>
                    <td>
                        <%=element.linkCourse %>
                    </td>
                    <td>
                        <a href="/admin/course/<%=data.id %>/detail/<%=element.id%>/delete"><button type="button" class="btn btn-danger">Delete</button></a>
                    </td>
                    <%}); %>
                </tr>
        </tbody>

    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>